/* format styling 
i'll show
*/

/* what? not understant what do you say this text */

/* remove default styling from body/h1,h2, ul,li etc */

/* what? not understant what do you say this text 
almost every tag has default properties(i.e. tag <p> has margin top and bottom) always remove default styling from tags that you use 
https://www.w3schools.com/cssref/css_default_values.asp
*/
.details {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  /* try not to use % with px in one css, read about margin: auto; */
  margin-right: 400px; /* margin: auto; */
  margin-left: 400px;  /* margin: auto; */
  padding: 15px;
  background-color: #e7fdf2;
}

/* style classes, not tags */
/* ok */
.subtitle, .life {
  /* don't use "black" read about hex, hsl, rgba */
  /* understand */
  color: #000000;
}
.basic, .image {
  text-align: center;
}
.image_link {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.description {
  border: 3px inset rgba(28,110,164,0.18);
  /* use px, not thin */
  /* ok */
  border-width: 1px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  height: 80%;
}
.image {
  border: 3px inset rgba(28,110,164,0.18);
  /* use px, not thin */
  /* ok */
  border-width: 1px;
  height: 335px;
  width: 602px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 auto;
}
/* read about paddings/margins */
.image_text {
  background: rgb(179,175,175);
background: linear-gradient(90deg, rgba(179,175,175,0.5217437316723564) 100%, rgba(26,26,27,0.7234244039412641) 100%);
  padding: 5px;
  border-radius: 3px;
  margin: 2px 3px 3px;
  /* use margins for gaps, also try to go from top to bottom */
  /* ok */
}
.life {
  padding-top: 10px;
  padding-left: 30px;
}
.biography-list {
 margin: 10px 40px;
 line-height: 1.5;
}
.read_else {
  text-align: center;
}
time, .date {
  font-weight:bold;
}
.date {
  font-size: 25px;
}
